button{
    border: none;
    border-radius: 5px;
    padding: 10px;
}
button:hover{
    cursor: pointer;
}
#green{
    color: white;
    background-color: green;
}
#blue{
    color: white;
    background-color: rgb(41, 81, 192);
}
#purple{
    color: white;
    background-color: rgb(72, 11, 153);
}
#random{
    color: rgb(243, 229, 229);
    background-color: rgb(90, 94, 90);
}