*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
#form{
    background-color: aquamarine;
    margin: auto;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    flex-wrap: wrap;
    width: fit-content;
}
input{
    margin: 15px;
}